In [1]:
import pandas

In [33]:
dataset = pandas.read_csv('SalaryData.csv')

In [34]:
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [4]:
y = dataset['Salary']

In [13]:
x = dataset['YearsExperience']

In [17]:
X = x.values.reshape(-1, 1)

In [18]:
X.shape

(30, 1)

In [10]:
from sklearn.linear_model  import  LinearRegression

In [11]:
# y = b + w*x


model = LinearRegression()

In [19]:
# model : y = b +  wx 
# find : b , w
# ML : goal : b,w :- parameters

model.fit(X , y)

LinearRegression()

In [36]:
# y = wx

x = 1.7
w = 9449
y = b + x *  w 
model.predict([[ 1.1 ]])

array([36187.15875227])

In [37]:
# model : accuracy : 100 %

In [22]:
w = model.coef_

In [26]:
x = 1.7
w = 9449

In [28]:
b = model.intercept_

In [31]:
w

9449

In [32]:
b

25792.20019866871

In [29]:
b + w * x

41855.50019866871